In [1]:
#import different libraries:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
energy= pd.read_csv(r"C:\Users\mauli\Desktop\dataset\weather_daily_dataset\my_energy_data.csv")

In [3]:
energy_data = energy.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', 'energy_median','energy_mean','energy_max','energy_count','energy_std', 'energy_min'])
energy_data

,temperatureMax,energy_sum,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,...,cloudy,fog,partly-cloudy-day,partly-cloudy-night,wind,rain,snow,year,month,date
0,7.408,4.68,315,1.60,0.70,3.71,988.10,0.23,10.96,0.88,...,0,0,1,0,0,1,0,2011,11,23
1,5.619,4.68,315,1.60,0.70,3.71,988.10,0.23,10.96,0.88,...,0,0,1,0,0,1,0,2011,11,23
2,3.273,4.68,315,1.60,0.70,3.71,988.10,0.23,10.96,0.88,...,0,0,1,0,0,1,0,2011,11,23
3,3.036,4.68,315,1.60,0.70,3.71,988.10,0.23,10.96,0.88,...,0,0,1,0,0,1,0,2011,11,23
4,6.523,4.68,315,1.60,0.70,3.71,988.10,0.23,10.96,0.88,...,0,0,1,0,0,1,0,2011,11,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3510428,0.169,8.88,172,2.69,0.42,5.30,996.87,5.63,12.05,0.75,...,0,0,0,0,1,1,0,2014,2,28
3510429,2.378,8.88,172,2.69,0.42,5.30,996.87,5.63,12.05,0.75,...,0,0,0,0,1,1,0,2014,2,28
3510430,0.009,8.88,172,2.69,0.42,5.30,996.87,5.63,12.05,0.75,...,0,0,0,0,1,1,0,2014,2,28
3510431,0.119,8.88,172,2.69,0.42,5.30,996.87,5.63,12.05,0.75,...,0,0,0,0,1,1,0,2014,2,28
3510432,0.033,8.88,172,2.69,0.42,5.30,996.87,5.63,12.05,0.75,...,0,0,0,0,1,1,0,2014,2,28

In [4]:
#To remove unnecessary columns;
final = energy_data.drop(columns = ['temperatureMax', 'windBearing', 'cloudCover', 'windSpeed', 'pressure', 'visibility', 'humidity', 'moonPhase', 'clear-day', 'cloudy','fog','partly-cloudy-day','partly-cloudy-night','wind','rain', 'snow'])
final

,energy_sum,dewPoint,apparentTemperatureHigh,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,year,month,date
0,4.68,1.60,0.23,-3.56,0.99,1.0,0.24,1.80,4.53,-2.65,2011,11,23
1,4.68,1.60,0.23,-3.56,0.99,1.0,0.24,1.80,4.53,-2.65,2011,11,23
2,4.68,1.60,0.23,-3.56,0.99,1.0,0.24,1.80,4.53,-2.65,2011,11,23
3,4.68,1.60,0.23,-3.56,0.99,1.0,0.24,1.80,4.53,-2.65,2011,11,23
4,4.68,1.60,0.23,-3.56,0.99,1.0,0.24,1.80,4.53,-2.65,2011,11,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3510428,8.88,2.69,5.63,1.03,5.63,1.0,5.54,4.22,8.88,1.12,2014,2,28
3510429,8.88,2.69,5.63,1.03,5.63,1.0,5.54,4.22,8.88,1.12,2014,2,28
3510430,8.88,2.69,5.63,1.03,5.63,1.0,5.54,4.22,8.88,1.12,2014,2,28
3510431,8.88,2.69,5.63,1.03,5.63,1.0,5.54,4.22,8.88,1.12,2014,2,28
3510432,8.88,2.69,5.63,1.03,5.63,1.0,5.54,4.22,8.88,1.12,2014,2,28

In [5]:
#Setting the value for X and Y
x = final.drop('energy_sum', axis = 'columns')
y = final['energy_sum']

In [6]:
#Splitting the dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 100)

In [7]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(criterion = 'mse', max_depth = 10, min_samples_split = 10,
                                 random_state = 100)
regressor.fit(x_train, y_train)

DecisionTreeRegressor(max_depth=10, min_samples_split=10, random_state=100)

In [8]:
#Prediction of test set
y_pred_regressor=regressor.predict(x_test)
#Predicted values
print("Prediction for test set: {}".format(y_pred_regressor))

Prediction for test set: [20.21865528  4.37       20.88       ... 17.47        7.96488534
 28.88      ]

In [9]:
#Actual value and the predicted value
regressor_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_regressor})
regressor_diff.head()

         Actual value  Predicted value
1931144         20.22        20.218655
809500           4.37         4.370000
1573458         20.88        20.880000
910075           5.73         5.739884
2308407         21.19        21.190000

In [10]:
#Model Evaluation
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_regressor)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_regressor)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_regressor))
print('R squared: {:.2f}'.format(regressor.score(x,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 100.00
Mean Absolute Error: 0.00639273908133259
Mean Square Error: 0.0004573647231128686
Root Mean Square Error: 0.02138608713890572